@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 5px solid #000;
  width: 700px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-20%);
  background-color: #a1a1a1;
}

.subcontainer {
  text-align: right;
  font-family: "Protest Riot", sans-serif;
}

.subcontainer .hour {
  font-size: 120px;
}

.subcontainer h2 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 550;
  width: 500px;
}

.hour {
  text-align: left;
  padding-left: 50px;
}

.subcontainer .timezone {
  color: rgba(0, 0, 0, 0.7);
  display: inline;
}

.change {
  font-size: 25px;
  margin-left: 10px;
  font-weight: 550;
  cursor: pointer;
  color: #000;
  background-color: #a1a1a1;
  border: none;
}

.modal {
  font-family: "Protest Riot", sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  width: 420px;
  height: 140px;
  border-radius: 8px;
  border: 3px solid #000;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.seletor {
  padding: 5px;
  padding-left: 10px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin: 2px;
  margin-right: 10px;
  font-family: "Protest Riot", sans-serif;
}

.apply-button {
  height: 30px;
  font-family: "Protest Riot", sans-serif;
  border: none;
  background-color: #fff;
  font-size: 16px;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
